html { 
  background: url(https://farm9.staticflickr.com/8674/15924093016_4ed6dfb82e_o.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

