</div>
<div class="container">
  <div id="welcome-greeting">
    <h1>Pursuit of Passion</h1> 
      <h2> “Nothing is more damaging to the adventurous spirit within a man than a secure future. The very basic core of a man’s living spirit is his passion for adventure. The joy of life comes from our encounters with new experiences, and hence there is no greater joy than to have an endlessly changing horizon, for each day to have a new and different sun.” 
      ― Jon Krakauer, Into the Wild</h2>
    <hr />

  </div>
</div>

<div class ="container">
